:root {
  --primary-color: #3498db;
  --secondary-color: #2ecc71;
  --background-color: #FFFFFF;
  --text-color: #2c3e50;
}
@font-face {
  font-family: 'IRANsans';
  src: 
  url('/A-Iranian-Sans/Iranian Sans.ttf') format('truetype');
  font-style: normal;
}


body {
  background-color: var(--background-color);
  font-family: 'IRANsans',sans-serif;
 
}
button {
  font-family: 'IRANsans', sans-serif;
}


